*{
    padding: 0;
    margin: 0;
    min-width: none;
    margin-top: 50px;
}

.dark {
    background-color: black;
    color: white;
}


.light{
    background-color: white;
    color: black;
}

#btn1{
    text-align: center;
    align-items: center;
    margin-left: 45%;

}

h1{
    text-align: center;
    align-items: center;
}